{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <link rel="stylesheet" href="{% static 'tutor.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>{% block title %}Hedgehog Tutoring{% endblock %}</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% if request.path != '/log_in/' and request.path != '/sign_up/' and request.path != '/' %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'tutorials:dashboard' %}">Hedgehog Dashboard</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            {% if user.role == "admin" %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'tutorials:student_list' %}">Students</a>
            </li>
            {% endif %}
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'tutorials:tutor_list' %}">Tutors</a>
            </li>
            
            {% if user.role == "student" %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'tutorials:course_booking' %}">Book a Course</a>
            </li>
            {% endif %}
            
            {% if user.role == "tutor" %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'tutorials:student_list' %}">Students</a>
            </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                {{ user.username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="{% url 'tutorials:profile_update' %}">Profile</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'tutorials:password' %}">Change Password</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'tutorials:log_out' %}">Log Out</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endif %}
    <style>
      .alert-container {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1052220;
        width: 100%;
        max-width: 400px;
        padding: 0 15px;
      }
  
      .alert {
        margin-bottom: 10px;
      }
    </style>

    <div class="container mt-3">
      {% if messages %}
        <div class="alert-container">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    
    <main>
      {% block body %}
      {% endblock %}
    </main>

    <!-- Toast Container -->
    

    <footer class="bg-dark text-white text-center py-3 mt-4">
      <p>&copy; 2024 Hedgehog Tutoring. All Rights Reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js"></script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
