<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Booking</title>
</head>
<body>
    <h1>Request is Sent</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_studentdescription">Description</label>
            {{ form.studentdescription }}
        </div>
        <button type="submit" style="padding: 10px 20px; font-size: 16px;">Send Request</button>
    </form>
    <p><a href="{% url 'home' %}">Back to Home</a></p>
</body>
</html>
