{% extends 'base.html' %}
{% block body %}
<div class="home-wrapper">
  <div class="container">
    <div class="row w-100">
      <div class="col-12 text-center">
        <div class="homecard cover-card mx-auto">
          <img src="static/hedgehog_(3).png" class="logo">
          <h1 class="cover-heading">Welcome to Hedgehog Tutoring</h1>

          <p class="tagline">Unlock Your Potential, One Lesson at a Time!</p>

          <p>
            <a href='{% url 'tutorials:sign_up' %}' class="btn btn-lg btn-secondary">
              Sign up
            </a>
          </p>
          <p>
            <a href='{% url 'tutorials:log_in' %}' class="btn btn-lg btn-secondary">
              Log in
            </a>
          </p>

          <p class="cover-text">A task manager application by Team <i>Hedgehog</i></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
