/* General Body Style */
html,body {
  font-family: "DM Sans", sans-serif;
  color: #333333;
  background-color: #d3d3d3;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #d3d3d3 33px), 
                    repeating-linear-gradient(#317bd055, #317bd0);
                    height: 100%;
                    overflow-y: auto;
                    margin: 0;


  
                  
  }


.form-text, .text-danger {
  text-align: left;
}

.logo {
  width: 80px;
  height: auto;
}

.mb-3 label {
  text-align: left;
  width: 100%;
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 17px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  background-color: #6c9bd1;
}

.hedgelogo {
  width: 8.5%;
  height: auto;
  padding: 0px;
  margin: 0px;

}

.navlink {
  text-decoration: none;
}
.navvy {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.navvy a{
  position: relative;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 10px;

}
.nav-link, .navbar-brand {
  text-decoration: none;
}

.navvy a::before{
  content:'';
  position: absolute;
  top: 80%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: .4s;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.navvy a:hover::before{
  width: 100%;
  text-decoration: none;
}

/* Full-page container */
.container {

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
.home-wrapper .h-100 {
  min-height: 100vh;
  height: 100vh;
} */

.home-wrapper {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 86vh;
  width: 100%; 
  text-align: center; 
  margin-top: 40px;
}

.home-wrapper h1.cover-heading {
  font-size: 4rem;
  font-weight: bolder;
  color: #22313f;
}

.home-wrapper .cover-card {
  background-color: #e6e9f0;
  opacity: 1;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 40vw;
  min-width: 300px;
  /*margin: auto;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #393e46;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05), 
              inset 0 0 8px rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
}

.home-wrapper p.cover-text {
  font-size: 1rem;
  text-align: center;
  color: #707579b2;
}

.home-wrapper .tagline {
  font-size: 1.5rem;
  color: #393e46;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
  font-style: italic;
}

form .btn {
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.3s ease;
  background-color: #7aa5d2;
  color: #393e46;
  margin-top: 1.0rem;
}

form .btn:hover {
  background-color: #6386ac;
  transform: scale(1.05);
}

.home-wrapper .cover-card a.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  min-width: 350px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}

.home-wrapper .cover-card a.btn-secondary {
  background-color: #7aa5d2;
  color: #393e46;
}

.home-wrapper .cover-card a.btn-secondary:hover {
  background-color: #6386ac;
  transform: scale(1.05);
}

/* Input and textarea styles */
input, textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0px 0px 5px rgba(13, 110, 253, 0.5);
}

/* Login and Signup Page Styles */
.login-card, .signup-card, .profile-card, .password-card {
  background-color: #e6e9f0;
  opacity: 1;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 30vw;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #393e46;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05),
              inset 0 0 8px rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
}

.tutor-card {
  background-color: #e6e9f0;
  opacity: 1;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #393e46;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05),
              inset 0 0 8px rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
}

.login-card h1, .signup-card h1, .password-card h1, .profile-card h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #22313f;
  text-align: center;
}

.sign-text {
  text-align: center;
  color: #343a40;
}

/* Alerts */
.alert {
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f8d7da;
  color: #842029;
  border: 1px solid #f5c2c7;
}

p {
  line-height: 1.6;
}

.low-key {
  color: #6c757d;
  font-weight: 400;
  font-style: italic;
}

.list-title {
  margin: 1rem 0;
  font-weight: 600;
  color: #343a40;
}

/* Profile */
.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
  border: 2px solid #ddd;
}

.profile-text {
  padding-left: 1rem;
}

.profile-username {
  color: #6c757d;
  font-weight: 400;
}

/* Hyperlinks */
a {
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #004085;
  text-decoration: underline;
}

.dashboard-card {
  background-color: #e6e9f0;
  opacity: 1;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 80vw;
  max-width: 1200px;
  min-width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #393e46;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; 
  background-color: #ffffff;
  max-height: 100vh;
  padding: 20px;
  margin-top: 100px;
  padding-top: 50px;
}

.dashboard-card .card {
  width: 48%; 
  margin: 1%;
}


.dashboard-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}


.dashboard-card .card-header {
  font-size: 1.2rem;
  font-weight: bold;
}

.dashboard-card .card-body p {
  font-size: 1rem;
  color: #333;
}



.dash-card {
  
  background-color: #e6e9f0;
  opacity: 1;
  border-radius: 0.5rem;
  padding: 2rem;
  overflow-y: auto; 
 
  width: 70vw;
  max-width: 1200px;
  min-width: 300px;
  min-height: 450px;
  position: relative; 
  margin: 20px auto; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #393e46;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05),
              inset 0 0 8px rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
  padding-top: 50px;
  
}




.text-center {
  text-align: center;

  margin-top: 10px;
}

.summary-cards {
  gap: 20px;
}

.card {
  background-color: #ffffff; 
  border-radius: 10px; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.table-responsive {
  margin-top: 20px; 
}








.dashboard-card {
  grid-template-columns: repeat(1, 1fr);
  margin: 1rem 0;
  display: grid;
  gap: 2rem;
  overflow-y: auto; 
}

.card {
  background-color: #f5f5f5;
  padding: 1.5rem 1rem;
  color: #000;
  border-radius: 5px;

}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.amount {
  font-weight: 400;
  font-size: 1rem;
}

/*.card:hover {
  background-color: #293b5f;
  color: #FFF;
  transform: translateY(-10.5px);
} */

.text-success-bg {
  background-color: #71c664;
  padding: 0.25rem 0.35rem;
  margin-right: 0.375rem;
  font-size: 0.715rem;
  color: #FFF;
  border-radius: 5px;
}

.badge-text {
  font-size: 0.85rem;
  font-weight: 400;
}

/* Success Badge */
.badge.bg-success {
  background-color: #28a745; 
  color: white; 
  font-size: 0.875rem; 
  padding: 0.375rem 0.75rem;
  border-radius: 1rem; 
  display: inline-block;
  width: 100%;
}

/* Danger Badge */
.badge.bg-danger {
  background-color: #dc3545; 
  color: white; 
  font-size: 0.875rem; 
  padding: 0.375rem 0.75rem;
  border-radius: 1rem;
  display: inline-block;
  width: 100%;
}



/*------------ Table Layout ------------*/

#posts {
  border-collapse: collapse;
  margin: 0px auto;
  width: 50vw;
  border-radius: 10px;
  overflow: hidden; 
  text-align: left;
}

#posts thead tr {
  color: #FFF;
  text-align: left;
  background-color: #293b5f;
  border-radius: 10px 10px 0 0;
  
}

#posts th,
#posts td, #posts tbody {
  padding: 12px 15px;
  text-align: left;
  
  
}

#posts tbody tr:nth-of-type(2n) {
  background-color: #f5f5f5;
}


#posts {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


#posts tbody tr:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.tutorlist li, ul, td {
  padding-left: 0px;
  margin-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  

}


